.modal {
    /* Add your modal styling here */
  }
  
  .form {
    /* Add your form styling here */
  }
  
  .payment--options {
    /* Add styling for the payment options container */
    display: flex;
    gap: 10px; /* Add space between buttons */
  }
  
  .payment-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .payment-button svg {
    display: block;
  }
  